.sticky-form-wrap {
  position: sticky;
  top: 1rem;

  .close-form {
    background: none;
    border: 0;
    float: right;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-flow: row wrap;

      .form-item {
        width: calc(100% - 24px);
        margin-bottom: 1.5rem;
      }

      .cell-container {
        display: flex;
        justify-content: space-between;
      }

      .form-item.cell {
        width: calc(50% - 24px);

        .cell-wrap {
          border: .0625rem solid #666;
          background-color: #fff;
          border-radius: .25rem;
          position: relative;
          height: 3.5rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;

          input {
            width: 100%;
          }

          label {
            font-size: .75rem;
            padding-top: 0;
            pointer-events: none;
            top: -.375rem;
            left: .375rem;
            padding-left: .375rem;
            padding-right: .375rem;
            width: auto;
            height: auto;
            background: transparent;
            line-height: 1;
            font-weight: 400;
            display: block;
            position: absolute;
          }
          button.move-in {
            appearance: none;
            font-family: inherit;
            border-radius: .25rem;
            width: 100%;
            height: 100%;
            font-size: 1rem;
            display: block;
            background-color: transparent;
            padding: 0 1.75rem 0 .75rem;
            outline: 0;
            border: 0;
            cursor: pointer;
          }
        }


      }

      .field.focus {
        border-color: blue;

        label {
          font-size: .75rem;
          padding-top: 0;
          pointer-events: none;
          top: -.375rem;
          left: .375rem;
          padding-left: .375rem;
          padding-right: .375rem;
          width: auto;
          height: auto;
          background: transparent;
          color: blue;
          background-color: #fff;
          z-index: 1000;
        }

      }

      .field.focus.error {
        border-color: red;

        label {
          color: red;
        }

      }

      .field.focus.complete {
        border-color: #666;

        label {
          color: #666;
        }
      }

      .error-message {
        color: red;
        margin-left: .75rem;
        font-size: 12px;
        line-height: 1.25rem;
      }

      .field {
        border: .0625rem solid #666;
        background-color: #fff;
        border-radius: .25rem;
        position: relative;
        height: 3.5rem;


        label {
          font-size: 1rem;
          line-height: 1;
          font-weight: 400;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          padding-left: .75rem;
          padding-right: .75rem;
          padding-top: 1.25rem;
          color: #666;
          height: 100%;
          width: 100%;
          max-width: calc(100% - 12px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          z-index: 2;
          cursor: text;
        }

        input {
          font-family: inherit;
          border-radius: .25rem;
          width: 100%;
          height: 100%;
          font-size: 1rem;
          display: block;
          background-color: transparent;
          padding: 0 .6875rem;
          outline: 0;
          border: 0;
          cursor: text;
          line-height: 1.25;
        }

      }

      button[type=submit] {
        width: 100%;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        display: inline-block;
        border: .0625rem solid blue;
        border-radius: .25rem;
        padding: 1.1875rem 1.4375rem;
        white-space: nowrap;
        text-align: center;
        vertical-align: bottom;
        background: blue;
        color: white;
      }

      button[type=submit]:hover {
        background-color: #00c;
        border-color: #00c;
      }


  }

}